In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from DataCleaner import DataCleaner

from sklearn.model_selection import train_test_split

import cPickle as pickle

In [2]:
df2 = pd.read_json('data.json',)

In [3]:
df = df2.copy()

In [4]:
def add_label(df):
    if 'fraud' not in df.columns.values:
        df['fraud']= 1
        df.loc[df['acct_type'] == 'fraudster', 'fraud'] = 2
        df.loc[df['acct_type'] == 'fraudster_event', 'fraud'] = 2
        df.loc[df['acct_type'] == 'premium', 'fraud'] = 0
        
    return df

In [5]:
df = add_label(df)

In [6]:
df.head()

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state,fraud
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL,2
1,0,0,0,0,0,0,0.0,0,0,0,...,0,0,0,0,0,0.000000,0.000000,0,0,0
2,0,0,0,0,0,0,0.0,0,0,0,...,0,0,0,0,0,0.000000,0.000000,0,0,0
3,0,0,0,0,0,0,0.0,0,0,0,...,0,0,0,0,0,0.000000,0.000000,0,0,0
4,0,0,0,0,0,0,0.0,0,0,0,...,0,0,0,0,0,0.000000,0.000000,0,0,0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df, y, stratify = y)

In [ ]:
df['event_end'] =  pd.to_datetime(df['event_end'],unit='s')

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14337 entries, 0 to 14336
Data columns (total 44 columns):
acct_type             14337 non-null object
approx_payout_date    14337 non-null int64
body_length           14337 non-null int64
channels              14337 non-null int64
country               14256 non-null object
currency              14337 non-null object
delivery_method       14321 non-null float64
description           14337 non-null object
email_domain          14337 non-null object
event_created         14337 non-null int64
event_end             14337 non-null int64
event_published       14238 non-null float64
event_start           14337 non-null int64
fb_published          14337 non-null int64
gts                   14337 non-null float64
has_analytics         14337 non-null int64
has_header            8928 non-null float64
has_logo              14337 non-null int64
listed                14337 non-null object
name                  14337 non-null object
name_length           14337 non-null int64
num_order             14337 non-null int64
num_payouts           14337 non-null int64
object_id             14337 non-null int64
org_desc              14337 non-null object
org_facebook          14278 non-null float64
org_name              14337 non-null object
org_twitter           14278 non-null float64
payee_name            14337 non-null object
payout_type           14337 non-null object
previous_payouts      14337 non-null object
sale_duration         14182 non-null float64
sale_duration2        14337 non-null int64
show_map              14337 non-null int64
ticket_types          14337 non-null object
user_age              14337 non-null int64
user_created          14337 non-null int64
user_type             14337 non-null int64
venue_address         14337 non-null object
venue_country         13261 non-null object
venue_latitude        13261 non-null float64
venue_longitude       13261 non-null float64
venue_name            13261 non-null object
venue_state           13261 non-null object
dtypes: float64(9), int64(18), object(17)
memory usage: 4.9+ MB

In [5]:
df.head()

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,NaN,1337572800,1435,5,GB,GBP,1.0,"<p class=""MsoNormal"" style=""line-height: norma...",gmail.com,1335985478,...,"[{u'event_id': 3471689, u'cost': 15.0, u'avail...",674,1277721861,3,"Apple Industrial Estate, Whittle Avenue",GB,50.870026,-1.258139,Global Radio,Hampshire

In [ ]:
df.user_type.unique()

In [ ]:
reload(DataCleaner.py)

In [ ]:
df.acct_type.value_counts()

In [ ]:
# list(df.columns.values)

In [ ]:
fld_info_dict = {
'fraud': 'label',
'acct_type':'drop',
'approx_payout_date': 'drop',
'body_length' : '',
'channels' : '',
'country' : 'dummie',
'currency' : 'dummie',
'delivery_method' : 'dummie',
'description' :'drop',
'email_domain' :'drop',
'event_created' : 'drop',
'event_end' : 'drop',
'event_published': 'drop',
'event_start' : 'drop',
'fb_published' : 'drop',
'gts' : 'drop',
'has_analytics' :  'fillna=0',
'has_header':  'fillna=0',
'has_logo':  'fillna=0',
'listed' : 'dummie',
'name': 'drop',
'name_length': 'drop',
'num_order':  'drop',
'num_payouts': '',
'object_id' : 'drop',
'org_desc' : 'drop',
'org_facebook' : 'drop',
'org_name' : 'drop' ,
'org_twitter': 'drop',
'payee_name': 'drop',
'payout_type': 'drop',
'previous_payouts' : 'drop',
'sale_duration' : 'drop',
'sale_duration2' : 'drop',
'show_map' : 'drop',
'ticket_types' : 'drop',
'user_age' : '',
'user_created' : 'drop',
'user_type' : '',
'venue_address' : 'drop',
'venue_country' : 'drop',
'venue_latitude' : 'drop',
'venue_longitude' : 'drop',
'venue_name' : 'drop',
'venue_state' : 'drop',
}

In [ ]:
# df.listed.isnull()

In [ ]:
df = df2.copy()
if 'fraud' not in df.columns.values:
    df['fraud']= 1
    df.loc[df['acct_type'] == 'fraudster','fraud'] = 2
    df.loc[df['acct_type'] == 'fraudster_event','fraud'] = 2
    df.loc[df['acct_type'] == 'premium'] = 0

# df['event_time'] = df['event_end'] - df['event_created']
    
# df.payee_name1 = 0
# df.loc[df['payee_name'] == '','payee_name1'] = 1
# df.payee_name = df.payee_name1
# df.drop('payee_name1', inplace=True, axis=1)




# df.has_header.fillna(0,inplace=True)
# df.has_analytics.fillna(0,inplace=True)
# df.has_logo.fillna(0,inplace=True)

# df.has_header = df.has_header.astype(int)

# df.country = df.country.astype(str)



dc = DataCleaner(fld_info_dict)


newdf,y = dc.clean(df)

# X_train, X_test, y_train, y_test = train_test_split(newdf, y, stratify = y)


# newdf.loc[newdf.country==None, 'country']= 'XX'
# newdf.loc[newdf.country=='', 'country']= 'XX'

# newdf.country.fillna('XX',inplace=True)

In [ ]:
newdf.head()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=15)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)

# y_predict = model.predict(X_test)
# model.score(X_test, y_test)     ##returns mean accuracy

In [ ]:
impr

In [ ]:
df = df2.copy()

In [ ]:
import build_model

In [ ]:
build_model